/**
 * Theme
 */

.container--green {
	background: #ff3366;
	padding: 22px;
	color: white;
}

.container--blue {
	background: #577399;
	padding: 22px;
	color: white;
}

.container--black {
	background: black;
}

.container--dark-blue {
	background: #495867;
}

.container--light-grey {
	background: #f7f7ff;
}

.container--light-blue {
	background: #bdd5ea;
}

.container--white {
	background: #fff;
}

.white {
	color: white;
}

h1 {
	margin: 0;
}

.push-half--bottom {
	margin-bottom: 11px;
}

.align--center {
	text-align: center;
}

ul {
	list-style: none;
	padding-left: 0;
}

button.divid {
	background: #495867;
}

button.reset {
	background: red;
	color: white;
}

.display--flex {
	display: flex;
	flex-wrap: wrap;
}
