/**
 * Theme
 */

.container--green {
	background: #ff3366;
	padding: 22px;
	color: white;
}

.container--blue {
	background: #577399;
}

.container--black {
	background: black;
}

.container--dark-blue {
	background: #495867;
}

.container--light-grey {
	background: #f7f7ff;
}

.container--light-blue {
	background: #bdd5ea;
}

.container--teal {
	background: #2ac3cb;
}

.container--pink {
	background: #c88bb4;
}

.container--white {
	background: #fff;
}

.white {
	color: white;
}

h1 {
	margin: 0;
}

.push-half--bottom {
	margin-bottom: 11px;
}

.align--center {
	text-align: center;
}

ul {
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		margin: 5px;
	}
}

/// button style reset/**

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;

	/* 1 */
	font-size: 100%;

	/* 1 */
	line-height: 1.15;

	/* 1 */
	margin: 0;

	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button.divide {
	background: #495867;
	color: white;
	border: inherit;
}

button.reset {
	background: red;
	color: white;
	border: 0;
}

.submit {
	background: green;
	border: 0;
	padding: 3px;
	color: white;
	margin-top: 11px;
}

.display--flex {
	display: flex;
	flex-wrap: wrap;
}

.hide {
	display: none;
}

.show {
	display: block !important;
}

.container {
	width: 60%;
	margin: 11px auto;
}

.rule--all {
	border: 1px solid darkgrey;
}
